body {
  font-family: "Poppins";
  font-size: 15px;
  /* height: 100vh; */
}

.glass-background {
  padding: 2rem 3rem;
  background: rgb(65 65 65 / 26%);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  -webkit-backdrop-filter: blur(11.9px);
  backdrop-filter: blur(11.9px);
}

#login input {
  color: #fff;
}

#login input:focus {
  color: #fff;
}

.table-header {
  background-color: #037ae0;
}

.color-white {
  color: #fff;
}

.table-shadow {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.nav-bg {
  background-color: #0d1d29;
}
/* login page */
/* dashboard pade */
/* view page */
